.auth-form {
	border: 1px solid $color-base-medium;
	border-radius: 8px;
	padding: 1rem 2.5em 2rem;
	width: 90%;
	.form-control {
		font-size: $font-size-body;
	}
	@include centerer;
	@include if-tablet-portrait {
		width: 60%;
	}
	@include if-desktop {
		width: 40%;
	}
}

.auth-form-title {
	padding-bottom: 1.5rem;
	color: $color-brand-dark;
	text-align: center;
}

.auth-label {
	font-size: $font-size-body;
}

.auth-form-footer {
	text-align: center;
	padding-top: 1rem;
}

.auth-form-errors {
	color: $color-danger;
	font-size: $font-size-xs;
}

.auth-form-link {
	text-align: center;
	padding-top: 1rem;
	p {
		font-size: $font-size-xs;
		text-decoration: underline;
	}
	
	
}
